<div class="trending-posts">
    <div class="gn-line"></div>
    <div class="section-title">
      <h4>
        <a href="#">Trending</a>
      </h4>
    </div>
    <div class="one-fourth  " data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
      <article class="post first">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">This pays especially well in technology, where you earn a premium for working fast.</a>
        </h3>
      </article>
      <!--  /.post -->
      <article class="post">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">Here is a brief sketch of the economic proposition.</a>
        </h3>
      </article>
    </div>
    <div class="one-fourth  " data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
      <article class="post first">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">Lots of people get rich knowing nothing more than that.</a>
        </h3>
      </article>
      <!--  /.post -->
      <article class="post">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">If you're a good hacker in your mid twenties, you can get a job paying about $80,000 per year.</a>
        </h3>
      </article>
    </div>
    <div class="one-fourth  " data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
      <article class="post first">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">I think your best bet would be to start or join a startup.</a>
        </h3>
      </article>
      <!--  /.post -->
      <article class="post">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">You could probably work twice as many hours as a corporate employee.</a>
        </h3>
      </article>
    </div>
    <div class="one-fourth last  " data-animation="fadeInUp" data-animation-delay="0.6s" data-animation-offset="75%">
      <article class="post first">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">That's been a reliable way to get rich for hundreds of years.</a>
        </h3>
      </article>
      <!--  /.post -->
      <article class="post">
        <span class="date">October 6, 2013</span>
        <h3>
          <a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a>
        </h3>
      </article>
      <!--  /.post -->
    </div>
  </div>