/* Elements Page
-------------------------------------------------------------- */
.section-element {
    padding: 80px 0 0;
}

.section-element.columns {
    margin-bottom: 100px;
}

.section-element.columns .row {
    margin-bottom: 40px;
    color: #1a1d24;
}

.elements-title {
    color: #1a1d24;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 22px;
}

.font-style {
    color: #b7b7b7;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 80px;
}

.elements-content {
    float: left;
}

.elements-box-wrap {
    margin-right: 33px;
    width: 118px;
}

.elements-box {
    height: 118px;
    margin-bottom: 5px;
    width: 118px;
}

.elements-box.black {
    background-color: #181818;
}

.elements-box.gray {
    background-color: #b7b7b7;
}

.elements-box-wrap span {
    display: block;
    color: #7d7d7d;
    font-size: 14px;
}

.elements-box-wrap span.text {
    color: #181818;
    font-weight: 700;
}

.button-item {
    float: left;
    margin-bottom: 35px;
    margin-right: 12px;
    text-align: center;
}

.button-item span {
    display: block;
    text-align: left;
    color: #b7b7b7;
    font-size: 14px;
}

.button-item.no-margin {
    margin-bottom: 15px;
}

.section-element .input-wrap {
    float: left;
    width: 318px;
    padding-top: 12px;
    margin-right: 25px;
}

.section-element .input-wrap input {
    width: 100%;
    margin-bottom: 5px;
}

.section-element .input-wrap span.error,
.notification_error,
.notification_ok {
    font-size: 14px;
}

.section-element .input-wrap span.error,
.notification_error {
    color: #fc1616;
}

.section-element .input-wrap input.error {
    border: 1px solid #e8280b;
}

.notification_error,
.notification_ok {
    margin-top: 5px;
}

.notification_ok {
    color: #46b809;
}

.check-wrap {
    clear: left;
    padding-top: 20px;
    overflow: hidden;
}

.check-wrap span {
    padding-right: 5px;
    font-size: 16px;
}

.check-wrap .radios {
    float: left;
    margin-right: 30px;
}

/* Login Page
-------------------------------------------------------------- */
.section.login-page {
    background-color: #f3f3f3;
    padding: 80px 0;
}

.section-login {
    margin-bottom: 77px;
}

/* 404 Page
-------------------------------------------------------------- */
.error-page {
    padding: 120px 0;
    color: #252525;
}

.error-wrap h2 {
    margin: 0;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.error-wrap p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.error-wrap #searchform {
    position: relative;
    overflow: hidden;
    line-height: 53px;
    width: 510px;
    padding-bottom: 40px;
}

.error-wrap #s {
    width: 100%;
    height: 53px;
    border: 1px solid #e7e9ea;
}

.error-wrap #searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 59px;
    height: 53px;
    text-indent: -9999px;
    background: url(/assets/images/search.png) no-repeat center center;
    margin: 0;
}

.error-wrap .spacer {
    position: relative;
}

.error-wrap .spacer:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 510px;
    height: 1px;
    z-index: 1;
    background-color: #e8eaec;
}

.error-wrap .spacer:after {
    position: absolute;
    left: 50px;
    top: -13px;
    color: #b7b7b7;
    content: "or";
    font-size: 18px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    z-index: 2222;
    text-align: center;
}

.error-wrap .go-home {
    margin-top: 50px;
    font-weight: normal;
}

/* About Page
-------------------------------------------------------------- */
.about-page-wrap {
overflow: hidden;
padding: 22px 96px 0 0;
}

.about-page .content-left {
float: left;
width: 22.97%;
margin-right: 4.82%;
}

.about-page .content-right {
float: right;
width: 72.2%;
}

.about-page .content-left h5.title {
font-size: 16px;
font-weight: 500;
margin: 0 0 8px;
}

.about-page .about-links,
.about-page .about-twitter,
.about-page .about-contact {
font-size: 14px;
padding: 30px;
border: 1px solid #ebebeb;
margin-bottom: 30px;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
     -o-border-radius: 4px;
        border-radius: 4px;
}

.about-page .about-links {
padding: 0 30px 0 20px;
}

.about-page .about-links li {
line-height: 50px;
border-top: 1px solid #ebebeb;
}

.about-page .about-links li:first-child {
border-top: 0;
}

.about-page .about-links li a {
font-size: 16px;
color: #181818;
}

.about-page .about-links li a:hover {
font-weight: 700;
text-decoration: none;
}

.about-page .about-twitter .tweet_list li {
margin-bottom: 10px;
}

.about-page .about-twitter .tweet_list .tweet_time {
display: block;
font-size: 12px;
line-height: 18px;
color: #959595;
padding-top: 7px;
}

.about-page .about-twitter .follow-us {
line-height: 40px;
display: inline-block;
padding: 0 20px;
margin-top: 15px;
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
     -o-border-radius: 3px;
        border-radius: 3px;
}

.about-page .about-twitter .follow-us a {
color: #fff;
position: relative;
padding-left: 29px;
display: inline-block;
}

.about-page .about-twitter .follow-us a:before {
position: absolute;
left: 0;
top: 0;
content: "\f099";
font-family: "FontAwesome";
font-size: 20px;
}

.about-page .about-contact {
line-height: 22px;
}

.about-page .about-contact p {
margin-bottom: 10px;
}

.about-page h2.title {
font-size: 36px;
margin: -7px 0 20px;
}

.about-page .subtitle {
font-size: 24px;
line-height: 36px;
margin-bottom: 37px;
}

/* Contact Page
-------------------------------------------------------------- */
.contact-page .content-left {
    padding-right: 96px;
}

.contact-page h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 18px 0 32px;
}

.contact-page h2.title-map {
    margin: 18px 0 15px;
}

.contact-page .input-wrap {
    float: left;
    width: 48.66%;
    margin-right: 2.67%;
    margin-bottom: 20px;
}

.contact-page .message-wrap {
    margin-bottom: 20px;
}

.contact-page .send-wrap input {
    padding: 0 35px;
    font-size: 16px;
    line-height: 44px;
    font-weight: normal;
}

.contact-page .input-wrap.last {
    margin-right: 0;
}

.contact-page .input-wrap input {
    width: 100%;
}

.contact-page .contact-info {
    margin: -12px 0 40px;
    color: #a6a6a6;
    line-height: 30px;
}

.contact-page .contact-info .title {
    font-size: 16px;
    color: #181818;
}

.contact-page .contact-social li {
    float: left;
    margin: 20px 21px 0 0;
}

.contact-page .contact-social i {
    font-size: 20px;
    color: #d5d5d5;
    -webkit-transition: color 0.3s ease-in-out;
       -moz-transition: color 0.3s ease-in-out;
        -ms-transition: color 0.3s ease-in-out;
         -o-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
}

.contact-form .result {
    margin-bottom: 15px;
}

.contact-page #map {
    margin-bottom: 40px;
}

/* Home Page
-------------------------------------------------------------- */
#main {
    margin: 30px 0 80px 0;
}

#main.article-endless {
    margin-top: 0;
    margin-bottom: 0;
}

.section-title {
    padding: 7px 0 13px;
}

.section-title h4 {
    margin: 0;
}

.section-title h4 a {
    font-size: 24px;
    font-weight: 300 !important;
    line-height: 40px;
}

.section-title h4 a {
    text-decoration: none;
}

.post h3 a:hover {
    text-decoration: none;
}

.thumb img {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.thumb img:hover {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   filter: alpha(opacity=90);
   opacity: 0.9;
}

.featured-posts,
.highlights-posts,
.editors-posts,
.trending-posts,
.popular-posts,
.relate-posts,
.recommend-posts {
    overflow: hidden;
    padding-bottom: 57px;
}

.highlights-posts {
    padding-bottom: 7px;
}

.featured-posts:after,
.highlights-posts:after,
.editors-posts:after {
    content: "";
    display: table;
    clear: both;
}

.activity {
    height: 42px;
    line-height: 42px;
    border: 1px solid #eaeaea;
    display: inline-block;
    padding: 0 15px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.activity span {
    position: relative;
    padding-left: 23px;
    margin-left: 17px;
}

.activity span:first-child {
    margin-left: 0;
}

.activity span,
.activity span a {
    color: #2d3340;
    line-height: 20px;
    font-size: 14px;
}

.activity span.views:before,
.activity span.comment a:before {
    font-family: "FontAwesome";
    color: #cfd0d2;
    position: absolute;
    left: 0;
    top: 0;
   -webkit-transition: color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
       -ms-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
           transition: color 0.3s ease-out;
}

.activity span a:hover,
.activity span.comment a:hover:before {
    text-decoration: none;
}

.activity span.views:before {
    content: "\f064";
}

.activity span.comment a:before {
    content: "\f075";
}

.featured-posts .cat a,
.highlights-posts .cat a,
.editors-posts .cat a,
.popular-posts .cat a,
.social-media-posts .cat a,
.category-page .post-wrap .cat a,
.relate-posts .cat a,
.recommend-posts .cat a {
    display: inline-block;
    font-size: 10px;
    color: #a1a1a1;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
}

/* banner */
.banner-image {
    height: 100%;
    position: relative;
}

.banner .overlay {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    background: url(/assets/images/banner-overlay.png) no-repeat bottom center;
}

.banner .banner-text {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.banner h2, .banner h3, .banner h4 {
    margin: 0;
    color: #fff;
}

.banner .banner-text h2 {
    margin-bottom: 15px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 700;
}

.banner .banner-text h2 a {
    color: #fff;
}

.banner .banner-text h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.banner .banner-text p {
    font-size: 14px;
    margin-bottom: 37px;
}

.banner .banner-text p,
.banner .banner-text p a {
    color: #b7b7b7;	
}

.banner .banner-items {
    background-color: #181818;
    padding: 36px 34px 33px;
}

.banner .banner-items .post {
    float: left;
    width: 30%;
    margin-left: 5%;
}

.banner .banner-items .post:first-child {
    margin-left: 0;
}

.banner .banner-items .thumb {
    float: left;
    margin-right: 18px;
    width: 105px;
}

.banner .banner-items .cat {
    margin-top: -8px;
    line-height: 21px;
}

.banner .banner-items .cat a {
    font-size: 11px;
    text-transform: uppercase;
    color: #898989;
    font-weight: 700;
    letter-spacing: 1px
}

.banner .banner-items h4 a {
    font-size: 22px;
    color: #fff;
}

.banner .banner-items h4 a:hover {
    text-decoration: none;
}

/* Featured posts */
.featured-posts .content-left {
    float: left;
    width: 61.49%;
    margin-right: 2.67%;
}

.featured-posts .content-right {
    float: left;
    width: 35.82%;
}

.featured-posts .content-left .cat {
    margin-top: 5px;
}

.featured-posts .content-left h3 {
    margin: 0 0 17px;
}

.featured-posts .content-left h3 a {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;	
}

.featured-posts .excerpt-entry {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.featured-posts .author {
    font-size: 14px;
    display: block;
    margin-bottom: 23px;
}

.featured-posts .content-right .post {
    margin-top: 40px;
}

.featured-posts .content-right .post:first-child {
    margin-top: 0;
}

.featured-posts .content-right h3 {
    margin: 0 0 25px;
    line-height: 27px;
}

.featured-posts .content-right h3 a {
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
}

.featured-posts .content-right .cat {
    margin-top: 13px;
}

/* Highlights posts */
.highlights-posts .post,
.recommend-posts .post {
    float: left;
    width: 48.66%;
    margin-right: 2.67%;
    margin-bottom: 50px;
}

.highlights-posts .post.last,
.recommend-posts .post.last {
    margin-right: 0;
}

.highlights-posts .cat,
.recommend-posts .cat {
    margin-top: 12px;
}

.highlights-posts h3,
.recommend-posts h3 {
    line-height: 27px;
    margin: 0 0 23px;
}

.highlights-posts h3 a,
.recommend-posts h3 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

/* Editors posts */
.editors-posts .post {
    clear: both;
    overflow: hidden;
}

.editors-posts .post,
.relate-posts .post {
    padding-top: 30px;
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
}

.editors-posts .post-wrap .post:first-child,
.relate-posts .post-wrap .post:first-child {
    padding-top: 0;
    margin-top: 0;
    border: none;
}

.editors-posts .post .thumb,
.relate-posts .post .thumb {
    float: left;
    margin-right: 20px;
    width: 172px;
}

.editors-posts .post .content,
.relate-posts .post .content {
    overflow: hidden;
}

.editors-posts .cat,
.relate-posts .cat {
    margin-top: -8px;
}

.editors-posts h3,
.relate-posts h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
}

.editors-posts .excerpt-entry,
.relate-posts .excerpt-entry {
    font-size: 18px;
    color: #2d3340;
    line-height: 27px;
    margin-bottom: 3px;
    font-weight: normal;
}

.editors-posts .post-meta,
.relate-posts .post-meta {
    font-size: 14px;
    color: #2d3340;
}

.editors-posts .post-meta .time,
.relate-posts .post-meta .time {
    color: #b7b7b7;
}

/* Popular posts */
.popular-posts .content-left {
    float: left;
    width: 48.66%;
    margin-right: 2.67%;
}

.popular-posts .content-right .post {
    clear: left;
    min-height: 77px;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
}

.popular-posts .content-right .post:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}

.popular-posts .content-right {
    float: left;
    width: 48.66%;
}

.popular-posts .content-left .cat {
    margin-top: 7px;
}

.popular-posts .content-left .excerpt-entry {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}

.popular-posts .content-left h3 {
    line-height: 30px;
    margin: 0 0 3px;
}

.popular-posts .content-left h3 a {
    font-size: 24px;
    font-weight: 700;
}

.popular-posts .content-left .author {
    display: block;
    font-size: 14px;
    margin-bottom: 24px;
}

.popular-posts .content-right .thumb {
    float: left;
    margin-right: 15px;
    width: 111px;
}

.popular-posts .content-right .content {
    overflow: hidden;
    min-height: 77px;
}

.popular-posts .content-right h3 {
    margin: -3px 0 0;
    font-size: 16px;
    font-weight: normal !important;
    line-height: 24px;
}

.popular-posts .content-right .date {
    font-size: 14px;
    color: #959595;
}

/* Trending posts */
.trending-posts .one-fourth {
    float: left;
    width: 23.67%;
    margin-right: 1.76%;
}

.trending-posts .one-fourth.last {
    margin-right: 0;
}

.trending-posts .post .thumb {
    margin-bottom: 20px;
}

.trending-posts .post .date {
    font-size: 14px;
    color: #b7b7b7;
}

.trending-posts .post {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 17px;
    padding-top: 11px;
}

.trending-posts .post.first {
    padding-top: 0;
    padding-bottom: 21px;
}

.trending-posts .post h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    font-weight: normal !important;
}

.trending-posts .post h3 a {
    color: #2d3340;
}

.trending-posts .post.first h3 {
    font-weight: 700 !important;
}

/* Social media posts */
#main.category-page {
    margin-top: 43px !important;
}

.social-media-posts .post,
.category-page .post-wrap .post {
    margin-bottom: 40px;
}

.social-media-posts .thumb,
.category-page .post-wrap .thumb {
    float: left;
    margin-right: 20px;
    width: 364px;
}

.social-media-posts .content,
.category-page .post-wrap .content {
    overflow: hidden;
    min-height: 244px;
}

.social-media-posts .cat,
.category-page .post-wrap .cat {
    margin-top: -10px;
}

.social-media-posts h3,
.category-page .post-wrap h3 {
    margin: 0 0 2px;
    line-height: 28px;
}

.social-media-posts h3 a,
.category-page .post-wrap h3 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.social-media-posts .excerpt-entry,
.category-page .post-wrap .excerpt-entry {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 22px;
}