<!-- Main -->
<section id="main" class="category-page">
  <div class="container">



    <div class="row">

        <div class="col-md-12" style="padding-bottom: 25px;">
            <div class="tabs element">
              <ul class="menu-tab">
                <li class="active">
                  <a href="">Share from URL</a>
                </li>
                <li>
                  <a href="">Self written article</a>
                </li>
              </ul>
              <!-- /.menu-tab -->
              <div class="content-tab">
                <div class="content">
                  <div class="input-wrap">
                    <input type="text" id="input_1" name="input_1" class="input-control" placeholder="Link to article" style="width: 100%" />
                    <span style="padding: 25px;"></span>
                  </div>
    
                  <div class="submit-login">
                    <input type="submit" value="Pull from Website" class="submit" id="submit" name="submit" style="width: 100%">
                  </div>
                </div>
                <!-- /.comments -->
                <div class="content">
                  <div class="input-wrap">
                    <input type="text" id="input_1" name="input_1" class="input-control" placeholder="Title" style="width: 100%" />
                    <span style="padding: 25px;"></span>
                  </div>
    
                  <div class="input-wrap">
                    <input type="file" id="input_1" name="input_1" class="input-control" style="width: 100%" />
                    <span style="padding: 25px;"></span>
                  </div>
    
                  <div class="input-wrap">
                    <input type="text" id="input_1" name="input_1" class="input-control" placeholder="Beschrijving" style="width: 100%" />
                    <span style="padding: 25px;"></span>
                  </div>
    
                  <div class="submit-login">
                    <input type="submit" value="Post" class="submit" id="submit" name="submit" style="width: 100%">
                  </div>
                </div>
              </div>
              <!-- /.content-tab -->
            </div>
          </div>
          <!-- /.col-md-12 -->

      <div class="col-md-12" style="margin-bottom: 55px;">
        <div class="about-page-wrap">
          <div class="row">
            <div class="col-md-6">
                <h2 class="title">{{username}}</h2>
                <p class="subtitle">{{description}}</p>
            </div>
            <div class="col-md-6">
                <img src="{{picture}}" class="responsive" alt="image">
            </div>

          </div>
          <!-- /.content-right -->
        </div>
        <!-- /.about-page-wrap -->
      </div>
      <!-- /.col-md-12 -->

      

      <div class="col-md-12">
        <div class="post-wrap">
          <article class="post">
            <div class="thumb">
              <a href="#">
                <img src="assets/images/thumbs/6.jpg" alt="img">
              </a>
            </div>
            <div class="content">
              <div class="cat">
                <a href="#">Mustreads</a>
              </div>
              <h3>
                <a href="#">If you wanted to get rich.</a>
              </h3>
              <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds
                of years.</p>
              <div class="activity">
                <span class="views">345</span>
                <span class="comment">
                  <a href="#">15</a>
                </span>
              </div>
            </div>
          </article>
          <!--  /.post -->

          <article class="post">
            <div class="thumb">
              <a href="#">
                <img src="assets/images/thumbs/6.jpg" alt="img">
              </a>
            </div>
            <div class="content">
              <div class="cat">
                <a href="#">Mustreads</a>
              </div>
              <h3>
                <a href="#">If you wanted to get rich.</a>
              </h3>
              <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds
                of years.</p>
              <div class="activity">
                <span class="views">345</span>
                <span class="comment">
                  <a href="#">15</a>
                </span>
              </div>
            </div>
          </article>
          <!--  /.post -->

          <article class="post">
            <div class="thumb">
              <a href="#">
                <img src="assets/images/thumbs/6.jpg" alt="img">
              </a>
            </div>
            <div class="content">
              <div class="cat">
                <a href="#">Mustreads</a>
              </div>
              <h3>
                <a href="#">If you wanted to get rich.</a>
              </h3>
              <p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds
                of years.</p>
              <div class="activity">
                <span class="views">345</span>
                <span class="comment">
                  <a href="#">15</a>
                </span>
              </div>
            </div>
          </article>
          <!--  /.post -->


        </div>
        <!-- /.social-media-posts -->
      </div>
    </div>
    <!-- /.row -->


  </div>
  <!-- /.container -->
</section>

