<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#wat" aria-expanded="true" aria-controls="collapseOne">
            Wat is 'Deadlines'?
          </button>
        </h5>
      </div>

      <div id="wat" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          'Deadlines' is een simpele oplossing om als groep alle deadlines op 1 plaats bij te houden.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#hoe" aria-expanded="true" aria-controls="collapseOne">
            Hoe werkt Deadlines?
          </button>
        </h5>
      </div>

      <div id="hoe" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Na het registreren kan je een 'Classroom' aanmaken door op
            <a style="color: white;" class="btn btn-primary">Classroom aanmaken</a> te klikken.</p>
          <p>Na het aanmaken van de Classroom zie je linksboven een 8 cijferige code. Aan de hand van deze code kunnen klasgenoten
            zichzelf toevoegen.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#joinen" aria-expanded="true" aria-controls="collapseOne">
            Hoe join ik een classroom?
          </button>
        </h5>
      </div>

      <div id="joinen" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <p>Je kan een classroom joinen op 2 verschillende manieren.</p>
          <p><b>Je hebt nog geen account</b></p>
          <p>Op de home pagina kan je in het tekstvak een 'Classroom' code ingeven. Door hierna op joinen te klikken wordt je doorgestuurd naar de registreer pagina. <i>Indien je al een account hebt klik je op <b>Login</b></i></p>
          <p>Na het registreren zal je automatisch worden toegevoegd aan de Classroom.</p>
          <br>
          <p><b>Je hebt al een account</b></p>
          <p>Op dit moment is het nog niet mogelijk om deel uit te maken van verschillende classrooms. Om van classroom te veranderen klik je op de knop <br><br><a style="color: white;" class="btn btn-primary" >Verlaten</a></p>
          <p>Hierna kan je jezelf aan de hand van de code toevoegen aan een Classroom door te klikken op de knop <br><br> <a class="btn btn-primary" style="color: white;">Classroom joinen</a></p>
        </div>
      </div>
    </div>
  </div>
</div>