

 
/* Footer
-----------.-------------------------------------------------- */
.footer-widgets,
.footer-widgets a {
    color: #b0b1b4;
}

.footer-widgets {
    background-color: #252525;
    padding: 48px 0 20px;
}

.footer-widgets .widget {
    margin-bottom: 30px;
}

.footer-widgets .widget-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 20px;
}

/* Widget brand */
.footer-widgets .widget-brand {
    border-bottom: 2px solid #2e2e2e;
    padding-bottom: 20px;
}

.footer-widgets .widget-brand .logo {
    margin-bottom: 19px;
}

.footer-widgets .widget-brand p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300 !important;
    margin-bottom: 11px;
}

/* Widget social */
.footer-widgets .widget-social .social-list {
    margin-bottom: 12px;
}

.footer-widgets .widget-social .social-list:after {
    content: "";
    display: table;
    clear: left;
}

.footer-widgets .widget-social .social-list a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #343434;
    text-align: center;
    line-height: 38px;
    margin-left: 10px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}

.footer-widgets .widget-social .social-list a:first-child {
    margin-left: 0;
}

.footer-widgets .widget-social .social-list img {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   filter: alpha(opacity=40);
   opacity: 0.4;
   -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
       -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
           transition: opacity 0.3s ease-in-out;
}

.footer-widgets .widget-social .social-list a:hover img {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: 0.8;
}

.footer-widgets .widget-social .email {
    font-size: 14px;
    color: #acacac;
}

/* Widget twitter */

/* Widget links */
.footer-widgets .widget-list li {
    border-bottom: 2px solid #2e2e2e;
    padding-bottom: 11px;
    margin-top: 8px;
}
.footer-widgets .widget-list li a {
    font-size: 14px;
    color: #b0b1b4;
}

.footer-widgets .widget-list li a:hover {
    text-decoration: none;
}

/* Footer copyright */
.footer-copyright {
    background-color: #1e1e1e;
    color: #949494;
    line-height: 50px;
    font-size: 14px;
    font-weight: 300 !important;
}