
<!-- Header -->
<header id="header" class="header">
    <div class="top-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="logo" class="logo">
              <a href="index.html" rel="home" title="home">
                <img src="assets/images/logo.svg" alt="Good News" />
              </a>
            </div>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6">
            <div class="btn-menu"></div>
            <!-- //mobile menu button -->
            <div class="member-area">
              <span class="login-popup">
                <a href="#login-modal">Login</a>
              </span>
              <span class="signup-popup">
                <a href="#signup-modal">Become a member</a>
              </span>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.top-wrap -->
    <div class="header-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="category.html">Home</a>
                </li>
                <li>
                  <a href="category.html">Explore</a>
                </li>
                <li>
                  <a href="category.html">Notifications</a>
                </li>

                <li class="has-children">
                  <a href="#">More</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="article-endless.html">Articles</a>
                    </li>
                    <li>
                      <a href="article-detail.html">Articles Detail</a>
                    </li>
                    <li>
                      <a href="category-hide-navigation.html">Category Page</a>
                    </li>
                  </ul>
                  <!-- /.submenu -->
                </li>
              </ul>
              <!-- /.menu -->
            </nav>
            <!-- /nav -->
          </div>
          <!-- /.col-md-9 -->
          <div class="col-md-3">
            <div class="search-wrap">
              <div class="search-icon"></div>
              <!-- //mobile search button -->
              <form action="#" id="searchform" class="search-form" method="get" role="search">
                <input type="text" id="s" placeholder="Search" class="search-field">
                <input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
                <a class="search-close" href="#">
                  <i class="fa fa-times-circle"></i>
                </a>
              </form>
            </div>
            <!-- /.search-wrap -->
          </div>
          <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-wrap -->
  </header>

<app-home></app-home>

<!-- Footer -->
<footer id="footer">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
            <div class="widget widget-brand">
              <div class="logo logo-footer">
                <a href="#">
                  <img src="assets/images/logo-footer.svg" alt="Good News">
                </a>
              </div>
              <p>This pays especially well in technology, where you earn a premium for working fast.</p>
            </div>
            <!-- /.widget-brand -->
            <div class="widget widget-social">
              <h5 class="widget-title">Follow Us</h5>
              <div class="social-list">
                <a href="#">
                  <img src="assets/images/facebook.svg" alt="image">
                </a>
                <a href="#">
                  <img src="assets/images/twitter.svg" alt="image">
                </a>
                <a href="#">
                  <img src="assets/images/youtube.svg" alt="image">
                </a>
                <a href="#">
                  <img src="assets/images/dribbble.svg" alt="image">
                </a>
              </div>
              <a class="email" href="#">hello@youraddress.com</a>
            </div>
            <!-- /.widget-social -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 gn-animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-animation-offset="75%">
            <div class="widget widget-twitter">
              <h5 class="widget-title">Twitter</h5>
              <div class="latest-tweets" data-number="3" data-username="envato" data-modpath="twitter/index.html"></div>
            </div>
            <!-- /.widget-twitter -->
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.4s" data-animation-offset="75%">
            <div class="widget widget-list">
              <h5 class="widget-title">Main</h5>
              <ul class="links-list">
                <li>
                  <a href="#">Mustreads</a>
                </li>
                <li>
                  <a href="#">Tech</a>
                </li>
                <li>
                  <a href="#">Business</a>
                </li>
                <li>
                  <a href="#">Entertainment</a>
                </li>
                <li>
                  <a href="#">Social Media</a>
                </li>
              </ul>
            </div>
            <!-- /.widget-list -->
          </div>
          <!-- /.col-md-2 -->
          <div class="col-md-2 gn-animation" data-animation="fadeInUp" data-animation-delay="0.6s" data-animation-offset="75%">
            <div class="widget widget-list">
              <h5 class="widget-title">About Us</h5>
              <ul class="links-list">
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                  <a href="#">Our Team</a>
                </li>
                <li>
                  <a href="#">Careers </a>
                </li>
                <li>
                  <a href="#">Advertise</a>
                </li>
                <li>
                  <a href="#">Copyright</a>
                </li>
              </ul>
            </div>
            <!-- /.widget-list -->
          </div>
          <!-- /.col-md-2 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.footer-widgets -->
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            &copy; 2014 Good News, Inc.
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
  </footer>

  

  <!-- Login and Signup Form -->
  <div id="login-modal" class="login popup" style="display: none;">
      <a class="close-modal" href="#"></a>
      <div class="form-title">
        <h4>Login</h4>
        <div class="signup">
          No account yet?
          <a href="#">Sign Up</a>
        </div>
      </div>
      <div class="login-by">
        <div class="log-face-w">
          <a class="log-facebook" href="#">Login with Facebook</a>
        </div>
        <div class="log-twit-w">
          <a class="log-twitter" href="#">Login with Twitter</a>
        </div>
      </div>
      <form id="loginform" name="loginform" method="post">
        <div class="email-wrap">
          <input type="text" size="30" value="" class="input" id="user-email" name="log" placeholder="Email">
        </div>
        <div class="pass-wrap">
          <input type="password" size="30" value="" class="input" id="user-pass" name="password" placeholder="Password">
        </div>
        <div class="option-login">
          <div class="remember">
            <input type="checkbox" name="check3" id="check3" class="css-checkbox" checked="checked" />
            <label for="check3" class="css-label">Remember me</label>
          </div>
          <div class="forgot">
            <a href="#">I forgot my password</a>
          </div>
        </div>
        <div class="submit-login">
          <input type="submit" value="Log In" class="submit" id="submit" name="submit">
        </div>
      </form>
    </div>
    <div id="signup-modal" class="popup" style="display: none;">
      <a class="close-modal" href="#"></a>
      <div class="form-title">
        <h4>Sign Up</h4>
        <div class="signup">
          Already a member?
          <a href="#">Login</a>
        </div>
      </div>
      <div class="login-by">
        <div class="log-face-w">
          <a class="log-facebook" href="#">Login with Facebook</a>
        </div>
        <div class="log-twit-w">
          <a class="log-twitter" href="#">Login with Twitter</a>
        </div>
      </div>
      <form id="signupform" name="signupform" method="post">
        <div class="name-wrap">
          <input type="text" size="30" value="" class="input" id="user-name" name="name" placeholder="Name">
        </div>
        <div class="email-wrap">
          <input type="text" size="30" value="" class="input" id="user-email2" name="log" placeholder="Email">
        </div>
        <div class="pass-wrap">
          <input type="password" size="30" value="" class="input" id="user-pass2" name="password" placeholder="Password">
        </div>
  
        <div class="option-login">
          <div class="remember">
            <input type="checkbox" name="check4" id="check4" class="css-checkbox" checked="checked" />
            <label for="check4" class="css-label">Remember me</label>
          </div>
          <div class="forgot">
            <a href="#">I forgot my password</a>
          </div>
        </div>
  
        <div class="submit-login">
          <input type="submit" value="Sign Up" class="submit" id="submit2" name="submit">
        </div>
      </form>
    </div>