<header id="header" class="header">
  <div class="top-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="logo" class="logo">
            <a href="index.html" rel="home" title="home">
              <img src="assets/images/logo.svg" alt="Good News" />
            </a>
          </div>
        </div>
        <!-- /.col-md-6 -->
        <div class="col-md-6">
          <div class="btn-menu"></div>
          <!-- //mobile menu button -->
          <div class="member-area">
            
            <div *ngIf="!dataService.loggedIn()">
              <span class="login-popup">
                <a routerLink="/login">Login</a>
              </span>
  
              <span class="signup-popup">
                <a href="#signup-modal">Become a member</a>
              </span>
            </div>


            <div *ngIf="dataService.loggedIn()">
              <span class="login-popup">
                <a routerLink="/profile">Welkom {{dataService.getLoggedInUser().username}}</a>
              </span>

              <span class="login-popup">
                <a routerLink="/login" (click)="logout()">Logout</a>
              </span>
  
              <span class="signup-popup">
                <a href="#signup-modal">My Profile</a>
              </span>
            </div>

            
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.top-wrap -->
  <div class="header-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">
              <li>
                <a routerLink="/home">Home</a>
              </li>
              <li>
                <a routerLink="/profile">Profile</a>
              </li>
              <li>
                <a href="category.html">Explore</a>
              </li>
              <li>
                <a href="category.html">Notifications</a>
              </li>

              <li class="has-children">
                <a href="#">More</a>
                <ul class="sub-menu">
                  <li>
                    <a href="article-endless.html">Articles</a>
                  </li>
                  <li>
                    <a href="article-detail.html">Articles Detail</a>
                  </li>
                  <li>
                    <a href="category-hide-navigation.html">Category Page</a>
                  </li>
                </ul>
                <!-- /.submenu -->
              </li>
            </ul>
            <!-- /.menu -->
          </nav>
          <!-- /nav -->
        </div>
        <!-- /.col-md-9 -->
        <div class="col-md-3">
          <div class="search-wrap">
            <div class="search-icon"></div>
            <!-- //mobile search button -->
            <form action="#" id="searchform" class="search-form" method="get" role="search">
              <input type="text" id="s" placeholder="Search" class="search-field">
              <input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
              <a class="search-close" href="#">
                <i class="fa fa-times-circle"></i>
              </a>
            </form>
          </div>
          <!-- /.search-wrap -->
        </div>
        <!-- /.col-md-3 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-wrap -->
</header>