/**
  * Name: GoodNews
  * Version: 1.0
  * Author: ROLLTHEMES
  * Author URI: http://www.rollthemes.com
*/

@import url("/assets/css/font-awesome.css");			/* Style for FontAwesome */
@import url("/assets/css/flexslider.css");				/* Style for Flexslider Plugin */
@import url("/assets/css/mCustomScrollbar.css");		/* Style for Scrollbar Plugin */
@import url("/assets/css/shortcodes.css");				/* Style for Shortcodes */

/**  
  * Reset
  * Repeatable Patterns
  * Top
  * Header
  * Elements Page
  * Login Page
  * 404 Page
  * About Page
  * Contact Page
  * Home Page
  * Sidebar Widgets
  * Article
  * Article Detail
  * Footer
  * GoTop
  * Switcher
  * Media Queries
*/

/* Reset
-------------------------------------------------------------- */
	html {
	   overflow-y: scroll;
	   -webkit-text-size-adjust: 100%;
	       -ms-text-size-adjust: 100%;
	}

	body {
	   line-height: 1;
	   -webkit-font-smoothing: antialiased;
	   -webkit-text-size-adjust: 100%;
	       -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
	   font-family: inherit; 
	   font-size: 100%; 
	   font-weight: inherit; 
	   font-style: inherit; 
	   vertical-align: baseline; 
	   white-space: normal; 
	   margin: 0; 
	   padding: 0; 
	   border: 0; 
	   outline: 0;
	   background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	   display: block;
	}
	                          
	ol, ul {
	   list-style: none;
	}

	blockquote, q { 
	   -webkit-hyphens: none;
	      -moz-hyphens: none;
	       -ms-hyphens: none;
	           hyphens: none;
	            quotes: none;
	}

	figure {
	   margin: 0;
	}

	:focus {
	   outline: 0;
	}

	table { 
	   border-collapse: collapse; 
	   border-spacing: 0; }

	img {
	   border: 0;
	   -ms-interpolation-mode: bicubic;
	   vertical-align: middle;
	}

	::selection { background-color: #ddf1ff; color: #191919; }
	::-moz-selection { background-color: #ddf1ff; color: #191919; }

	legend {
	   white-space: normal;
	}

	button,
	input,
	select,
	textarea {
	   font-size: 100%;
	   margin: 0;
	   max-width: 100%;
	   vertical-align: baseline;
	   -webkit-box-sizing: border-box;
	      -moz-box-sizing: border-box;
	           box-sizing: border-box;
	}

	button,
	input {
	   line-height: normal;
	}

	input,
	textarea {
	   background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

/* Repeatable Patterns
-------------------------------------------------------------- */
	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	body {
		font: 16px/24px "Roboto", sans-serif;
		background-color: #fff;
		color: #181818;
	}

	a,
	a:hover,
	a:focus,
	a:active {
	    -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}

	img {
	   height: auto;
		max-width: 100%;
	}

	.img-left {
		margin: 7px 30px 25px 0 !important;
		float: left;
	}

	.img-right {
		margin: 7px 0 25px 30px !important;
		float: right;
	}

	strong {
		font-weight: 700;
	}

	.entry-content p {
		margin-bottom: 27px;
	}

	.margint1 { margin-top: 10px; }
	.margint2 { margin-top: 20px; }
	.margint3 { margin-top: 30px; }
	.margint4 { margin-top: 40px; }
	.margint5 { margin-top: 50px; }
	.margint6 { margin-top: 60px; }
	.marginb1 { margin-bottom: 10px; }
	.marginb2 { margin-bottom: 20px; }
	.marginb3 { margin-bottom: 30px; }
	.marginb4 { margin-bottom: 40px; }
	.marginb5 { margin-bottom: 50px; }
	.marginb6 { margin-bottom: 60px; }

	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		margin: 47px 0 25px;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		font-weight: inherit;
		color: #181818;
	}

	h1 { font: 48px/55px "Roboto", sans-serif;}
	h2 { font: 32px/44px "Roboto", sans-serif;}
	h3 { font: 24px/36px "Roboto", sans-serif;}
	h4 { font: 20px/30px "Roboto", sans-serif;}
	h5 { font: 18px/27px "Roboto", sans-serif; margin: 26px 0 0;}
	h6 { font: 16px/22px "Roboto", sans-serif; margin: 16px 0 0;}

	.text-white { color: #fff !important; }
	.text-dark { color: #181818 !important;}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		display: inline-block;
	    color: #fff;
	    font-family: "Source Sans Pro",sans-serif;
	    font-size: 18px;
	    font-weight: 600;
	    line-height: 50px;
	    margin-right: 7px;
	    padding: 0 47px;
	    position: relative;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			 -o-border-radius: 4px;
				border-radius: 4px;
	   -webkit-transition: all 0.3s ease-in-out;
	      -moz-transition: all 0.3s ease-in-out;
	       -ms-transition: all 0.3s ease-in-out;
	        -o-transition: all 0.3s ease-in-out;
	           transition: all 0.3s ease-in-out;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		color: #3f3f3f;
		border: 1px solid #cecece;
		height: 42px;
		padding: 4px 14px;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			 -o-border-radius: 4px;
				border-radius: 4px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		border: 1px solid #b7b7b7;
	}

	textarea {
		overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
		vertical-align: top; /* Improves readability and alignment in all browsers */
		padding: 8px 14px;
		height: 200px;
		width: 100%;
	}

	::-webkit-input-placeholder {
	   color: #b0b0b0;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #b0b0b0;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #b0b0b0;  
	}

	:-ms-input-placeholder {  
	   color: #b0b0b0;  
	}

	.gn-animation {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	}
	.gn-animation.animated {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
	}

	/* bootstrap resetting elements */
	.btn {
		background-image: none;
	}

	textarea, 
	input[type="text"],
	input[type="submit"],
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"], 
	input[type="month"], 
	input[type="time"], 
	input[type="week"], 
	input[type="number"], 
	input[type="email"], 
	input[type="url"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="color"], 
	.uneditable-input,
	.dropdown-menu,
	.navbar .nav > .active > a, 
	.navbar .nav > .active > a:hover, 
	.navbar .nav > .active > a:focus {
	  -webkit-appearance: none;
		text-shadow: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
			  -o-box-shadow: none;
				  box-shadow: none;
	}









/*
vanaf hier tot einde net boven de kleuren is de css die nog niet gebruikt wordt maar wel nog gebruikt gaat worden
*/





/* Elements Page
-------------------------------------------------------------- */
	.section-element {
		padding: 80px 0 0;
	}

	.section-element.columns {
		margin-bottom: 100px;
	}

	.section-element.columns .row {
		margin-bottom: 40px;
		color: #1a1d24;
	}

	.elements-title {
	    color: #1a1d24;
	    font-size: 30px;
	    font-weight: 700;
	    line-height: 40px;
	    margin: 0 0 22px;
	}

	.font-style {
		color: #b7b7b7;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 80px;
	}

	.elements-content {
		float: left;
	}

	.elements-box-wrap {
	    margin-right: 33px;
	    width: 118px;
	}

	.elements-box {
	    height: 118px;
	    margin-bottom: 5px;
	    width: 118px;
	}

	.elements-box.black {
	    background-color: #181818;
	}

	.elements-box.gray {
	    background-color: #b7b7b7;
	}

	.elements-box-wrap span {
		display: block;
		color: #7d7d7d;
		font-size: 14px;
	}

	.elements-box-wrap span.text {
		color: #181818;
		font-weight: 700;
	}

	.button-item {
	    float: left;
	    margin-bottom: 35px;
	    margin-right: 12px;
	    text-align: center;
	}

	.button-item span {
		display: block;
		text-align: left;
		color: #b7b7b7;
		font-size: 14px;
	}

	.button-item.no-margin {
		margin-bottom: 15px;
	}

	.section-element .input-wrap {
		float: left;
		width: 318px;
		padding-top: 12px;
		margin-right: 25px;
	}

	.section-element .input-wrap input {
		width: 100%;
		margin-bottom: 5px;
	}

	.section-element .input-wrap span.error,
	.notification_error,
	.notification_ok {
		font-size: 14px;
	}

	.section-element .input-wrap span.error,
	.notification_error {
		color: #fc1616;
	}

	.section-element .input-wrap input.error {
		border: 1px solid #e8280b;
	}
	
	.notification_error,
	.notification_ok {
		margin-top: 5px;
	}

	.notification_ok {
		color: #46b809;
	}

	.check-wrap {
		clear: left;
		padding-top: 20px;
		overflow: hidden;
	}

	.check-wrap span {
		padding-right: 5px;
		font-size: 16px;
	}

	.check-wrap .radios {
		float: left;
		margin-right: 30px;
	}

/* Login Page
-------------------------------------------------------------- */
	.section.login-page {
		background-color: #f3f3f3;
		padding: 80px 0;
	}

	.section-login {
		margin-bottom: 77px;
	}

/* 404 Page
-------------------------------------------------------------- */
	.error-page {
		padding: 120px 0;
		color: #252525;
	}

	.error-wrap h2 {
		margin: 0;
		font-size: 48px;
		line-height: 60px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.error-wrap p {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.error-wrap #searchform {
		position: relative;
		overflow: hidden;
		line-height: 53px;
		width: 510px;
		padding-bottom: 40px;
	}

	.error-wrap #s {
		width: 100%;
		height: 53px;
		border: 1px solid #e7e9ea;
	}

	.error-wrap #searchsubmit {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		width: 59px;
		height: 53px;
		text-indent: -9999px;
		background: url(/images/search.png) no-repeat center center;
		margin: 0;
	}

	.error-wrap .spacer {
		position: relative;
	}

	.error-wrap .spacer:before {
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 510px;
		height: 1px;
		z-index: 1;
		background-color: #e8eaec;
	}

	.error-wrap .spacer:after {
		position: absolute;
		left: 50px;
		top: -13px;
		color: #b7b7b7;
		content: "or";
		font-size: 18px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		z-index: 2222;
		text-align: center;
	}

	.error-wrap .go-home {
		margin-top: 50px;
		font-weight: normal;
	}

/* About Page
-------------------------------------------------------------- */
.about-page-wrap {
	overflow: hidden;
	padding: 22px 96px 0 0;
}

.about-page .content-left {
	float: left;
	width: 22.97%;
	margin-right: 4.82%;
}

.about-page .content-right {
	float: right;
	width: 72.2%;
}

.about-page .content-left h5.title {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 8px;
}

.about-page .about-links,
.about-page .about-twitter,
.about-page .about-contact {
	font-size: 14px;
	padding: 30px;
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		 -o-border-radius: 4px;
			border-radius: 4px;
}

.about-page .about-links {
	padding: 0 30px 0 20px;
}

.about-page .about-links li {
	line-height: 50px;
	border-top: 1px solid #ebebeb;
}

.about-page .about-links li:first-child {
	border-top: 0;
}

.about-page .about-links li a {
	font-size: 16px;
	color: #181818;
}

.about-page .about-links li a:hover {
	font-weight: 700;
	text-decoration: none;
}

.about-page .about-twitter .tweet_list li {
	margin-bottom: 10px;
}

.about-page .about-twitter .tweet_list .tweet_time {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #959595;
	padding-top: 7px;
}

.about-page .about-twitter .follow-us {
	line-height: 40px;
	display: inline-block;
	padding: 0 20px;
	margin-top: 15px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

.about-page .about-twitter .follow-us a {
	color: #fff;
	position: relative;
	padding-left: 29px;
	display: inline-block;
}

.about-page .about-twitter .follow-us a:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "\f099";
	font-family: "FontAwesome";
	font-size: 20px;
}

.about-page .about-contact {
	line-height: 22px;
}

.about-page .about-contact p {
	margin-bottom: 10px;
}

.about-page h2.title {
	font-size: 36px;
	margin: -7px 0 20px;
}

.about-page .subtitle {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 37px;
}

/* Contact Page
-------------------------------------------------------------- */
	.contact-page .content-left {
		padding-right: 96px;
	}

	.contact-page h2 {
		font-size: 18px;
		font-weight: 700;
		margin: 18px 0 32px;
	}

	.contact-page h2.title-map {
		margin: 18px 0 15px;
	}

	.contact-page .input-wrap {
		float: left;
		width: 48.66%;
		margin-right: 2.67%;
		margin-bottom: 20px;
	}

	.contact-page .message-wrap {
		margin-bottom: 20px;
	}

	.contact-page .send-wrap input {
		padding: 0 35px;
		font-size: 16px;
		line-height: 44px;
		font-weight: normal;
	}

	.contact-page .input-wrap.last {
		margin-right: 0;
	}

	.contact-page .input-wrap input {
		width: 100%;
	}

	.contact-page .contact-info {
		margin: -12px 0 40px;
		color: #a6a6a6;
		line-height: 30px;
	}

	.contact-page .contact-info .title {
		font-size: 16px;
		color: #181818;
	}

	.contact-page .contact-social li {
		float: left;
		margin: 20px 21px 0 0;
	}

	.contact-page .contact-social i {
		font-size: 20px;
		color: #d5d5d5;
	    -webkit-transition: color 0.3s ease-in-out;
	       -moz-transition: color 0.3s ease-in-out;
	        -ms-transition: color 0.3s ease-in-out;
	         -o-transition: color 0.3s ease-in-out;
	            transition: color 0.3s ease-in-out;
	}

	.contact-form .result {
		margin-bottom: 15px;
	}

	.contact-page #map {
		margin-bottom: 40px;
	}

/* Sidebar Widgets
-------------------------------------------------------------- */
	.sidebar-widget-1 .widget {
		margin-bottom: 30px;
	}

	.sidebar-widget-1 .widget-title {
		font-size: 24px;
		font-weight: 300 !important;
		margin: 0 0 20px;
	}

	.sidebar-widget-1 .widget {
		border: 1px solid #ebebeb;
		padding: 22px 27px;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}

	.sidebar-widget-1 .widget-tabs,
	.sidebar-widget-1 .widget-ads {
		border: none;
		padding: 0;
	}

	#sidebar2 {
		border-left: 1px solid #eaeaea;
		border-right: 1px solid #eaeaea;
		margin-right: 20px;
		padding: 17px 0;
	}

	/* Widget recent */
	.widget-recent ul li {
		clear: left;
	    border-top: 1px solid #eaeaea;
	    margin-top: 15px;
	    min-height: 77px;
	    padding-top: 15px;
	}

	.widget-recent ul li:first-child {
		margin-top: 0;
		padding: 5px 0 0;
		border: none;
	}

	.widget-recent .thumb {
		float: left;
		margin-right: 15px;
		width: 111px;
	}

	.widget-recent .content {
		overflow: hidden;
		min-height: 77px;
	}

	.widget-recent .content h3 {
		margin: -3px 0 0;
		font-size: 16px;
		line-height: 24px;
		font-weight: normal !important;
	}

	.widget-recent .content h3 a {
		color: #181818;
	}

	.widget-recent .content a:hover {
		text-decoration: none;
	}

	.widget-recent .content .date {
		font-size: 14px;
		color: #959595;
	}

	/* Widget advertisement */
	.widget-ads .text-ad {
		color: #959595;
		font-size: 12px;
		line-height: 20px;
		text-align: right;
	}

	/* Widget most popular */
	.widget-most-popular .order,
	.most-popular .order {
		float: left;
		line-height: 25px;
		padding: 0 17px 0 0;
	}

	.widget-most-popular li,
	.most-popular li {
		border-top: 1px solid #ededed;
		padding-top: 15px;
		margin-top: 14px;
	}

	.widget-most-popular li:first-child,
	.most-popular li:first-child {
		border: none;
		padding: 8px 0 0;
		margin: 0;
	}

	.widget-most-popular li p,
	.most-popular li p {
		overflow: hidden;
	}

	.widget-most-popular li a,
	.most-popular li a {
		color: #181818;
		font-size: 16px;
		line-height: 24px;
		overflow: hidden;
	}

	.widget-most-popular li a:hover,
	.most-popular li a:hover {
		text-decoration: none;
	}

	/* Widget tabs */
	.tabs ul {
		overflow: hidden;
		margin:0;
	}

	.tabs .menu-tab li {
		position: relative;
		bottom: -1px;
		float: left;
		margin-right: 2px;
	}

	.tabs .menu-tab li a {
		display: block;
		color: #2d3340;
		background-color: #f5f5f5;
		padding: 11px 20px;
		-webkit-border-radius: 3px 3px 0 0;
		   -moz-border-radius: 3px 3px 0 0;
			 -o-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
	}

	.tabs .menu-tab li a:hover {
		background-color: #efefef;
		text-decoration: none;
	}

	.tabs .menu-tab li.active a {
		background-color: #fff;
		border: 1px solid #ebebeb;
		transition: none;
		-webkit-border-radius: 3px 3px 0 0;
		   -moz-border-radius: 3px 3px 0 0;
			 -o-border-radius: 3px 3px 0 0;
				border-radius: 3px 3px 0 0;
	}

	.tabs .content-tab {
		margin-top: 50px;
		border: 1px solid #ebebeb;
		padding: 0 20px 20px;
		margin-top: -1px;
		background-color: #fff;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}

	.tabs .content-tab .tags {
		padding-top: 20px;
	}

	.tabs .comments li,
	.tabs .pop-posts li {
		clear: left;
		margin-top: 10px;
		padding-top: 14px;
		min-height: 81px;
		border-top: 1px solid #e9e9e9;
	}

	.tabs .comments li:first-child,
	.tabs .pop-posts li:first-child {
		margin-top: 0;
		border-top: none;
	}

	.tabs .pop-posts li:first-child {
		margin-top: 5px;
	}

	.tabs .comments .avatar {
		float: left;
		margin-right: 17px;
		width: 60px;
	}

	.tabs .comments .avatar img {
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
			 -o-border-radius: 50%;
				border-radius: 50%;
	}

	.tabs .comments p {
		font-size: 14px;
		line-height: 21px;
		color: #b7b7b7;
		padding-top: 8px;
	}

	.tabs .comments p a,
	.tabs .pop-posts .text a {
		color: #2d3340;
	}

	.tabs .comments p a:hover {
		text-decoration: none;
	}

	.tabs .pop-posts .thumb {
		float: left;
		margin-right: 15px;
		margin-top: 3px;
		width: 91px;
	}

	.tabs .pop-posts li {
		margin-top: 17px;
	}

	.tabs .pop-posts .text {
		font-size: 16px;
		line-height: 24px;
		overflow: hidden;
	}

	.tabs .pop-posts .text i {
		display: block;
		font-size: 11px;
		color: #acacac;
		line-height: 16px;
	}

	.tabs .pop-posts .text a:hover {
		text-decoration: none;
	}

	.tabs .tags a {
		color: #2d3340;
		display: inline-block;
		background-color: #f4f4f4;
		padding: 5px 12px;
		margin: 0 1px 5px 0;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}

	.tabs .tags a:hover {
		color: #fff;
		font-size: 16px;
		text-decoration: none;
	}

	/* Widget tabs2 */
	.widget-tabs2 .tabs.style2 ul.menu-tab {
		padding: 0 !important;
	}

	.widget-tabs2 .tabs.style2 .content-tab li {
		padding: 11px 0 0 !important;
	}

	/* Widget tabs width scroll */
	.tabs.style2 .content-tab.scroll .content {
		height: 3800px;
		overflow: auto;
		position: relative;
	   -webkit-box-sizing: border-box;
	      -moz-box-sizing: border-box;
	           box-sizing: border-box;
	}

	.tabs.style2 ul.menu-tab {
		padding: 0 17px;
		text-align: center;
	}

	.tabs.style2 .menu-tab li {
		float: left;
		bottom: 0;
		width: 50%;
		display: inline;
		margin: 0;
		padding: 7px 0;
		border: 1px solid #efefef;
		-webkit-border-radius: 0 3px 3px 0;
		   -moz-border-radius: 0 3px 3px 0;
			 -o-border-radius: 0 3px 3px 0;
				border-radius: 0 3px 3px 0;
	}

	.tabs.style2 .menu-tab li.active:first-child {
		-webkit-border-radius: 3px 0 0 3px;
		   -moz-border-radius: 3px 0 0 3px;
			 -o-border-radius: 3px 0 0 3px;
				border-radius: 3px 0 0 3px;
	}

	.tabs.style2 .menu-tab li:first-child {
		margin-right: -1px;
	}

	.tabs.style2 .menu-tab li.active {
		background-color: #f3f3f3;
	}

	.tabs.style2 .menu-tab li a {
		display: inline;
		background-color: transparent;
		font-size: 12px;
		color: #929292;
		text-transform: uppercase;
		font-weight: 700;
	}

	.tabs.style2 .menu-tab li.active a {
		border: none;
		color: #181818;
	}

	.tabs.style2 .content-tab {
		border: none;
		margin: 10px 0 0;
		padding: 0;
	}

	.tabs.style2 .content-tab li {
		position: relative;
		border-top: 1px solid #ebebeb;
		padding: 11px 17px;
	}

	.tabs.style2 .content-tab.scroll li:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 5px;
		height: 100%;
		background-color: transparent;
	    -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}

	.tabs.style2 .content-tab.scroll li:hover {
		background-color: #f7f7f7;
	}

	.tabs.style2 .content-tab.scroll li:hover a {
		font-weight: 700;
		text-decoration: none;
	}

	.tabs.style2 .content-tab li:first-child {
		border-top: none;
	}

	.tabs.style2 .content-tab li a {
		font-size: 16px;
		line-height: 24px;
	}

	#sidebar2 .tabs.style2 .content-tab li a {
		color: #181818;
	}

	/* Widget follow us */
	.widget-follow-us a {
		display: inline-block;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		margin: 2px 1px 3px 0;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	    -webkit-transition: opacity 0.3s ease-in-out;
	       -moz-transition: opacity 0.3s ease-in-out;
	        -ms-transition: opacity 0.3s ease-in-out;
	         -o-transition: opacity 0.3s ease-in-out;
	            transition: opacity 0.3s ease-in-out;
	}

	.widget-follow-us a:hover {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	   filter: alpha(opacity=70);
	   opacity: 0.7;
	}

	.widget-follow-us a.facebook {
		background-color: #3c5a9b;
	}

	.widget-follow-us a.twitter {
		background-color: #1fc1f1;
	}

	.widget-follow-us a.google {
		background-color: #df4932;
	}

	.widget-follow-us a.youtube {
		background-color: #cf1312;
	}

	.widget-follow-us a.linkedin {
		background-color: #007bb9;
	}

	.widget-follow-us a.tumblr {
		background-color: #2b4763;
	}

	/* Widget categories */
	.widget-categories li {
		border-top: 1px solid #ededed;
		line-height: 30px;
		padding-top: 8px;
		margin-top: 7px;
	}

	.widget-categories li:first-child {
		border-top: none;
		padding: 5px 0 0;
		margin: 0;
	}

	.widget-categories li a {
		color: #2d3340;
	}

	.widget-categories li a:hover {
		text-decoration: none;
	}

	.widget-categories li a span {
		color: #acacac;
	}

	/* Widget subscribe */
	.widget-subscribe #subscribe-form {
		position: relative;
		overflow: hidden;
		margin: 20px 0 10px;
	}

	.widget-subscribe p {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 10px;
		color: #2d3340;
	}

	.widget-subscribe #subscribe-email {
		border: 1px solid #dfdfdf;
		font-size: 14px !important;
		width: 100%;
	}

	.widget-subscribe #subscribe-button {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		margin: 0;
		font-size: 14px;
		height: 42px;
		width: 98px;
		line-height: 42px;
		-webkit-border-radius: 0 3px 3px 0;
		   -moz-border-radius: 0 3px 3px 0;
			 -o-border-radius: 0 3px 3px 0;
				border-radius: 0 3px 3px 0;
	}

/* Article
-------------------------------------------------------------- */
	.posts {
		margin-top: 25px;
	}

	.posts.posts-list .post {
		border-top: 4px solid #ebebeb;
		padding: 41px 0 67px;
	}

	.posts .post:first-child {
		border-top: none;
		padding-top: 0;
	}

	.posts .post:last-child {
		padding-bottom: 0;
	}

	.posts h2 {
		font-size: 48px;
		line-height: 55px;
		font-weight: 700;
		margin: 0 0 28px;
	}

	.posts h2:hover a {
		text-decoration: none;
	}

	.posts .head-post {
		padding-bottom: 39px;
		border-bottom: 1px solid #e1e1e1;
	}

	.posts .head-post p {
		font-size: 24px;
		line-height: 36px;
		font-weight: 300;
		margin-bottom: 26px;
	}

	.posts .meta {
		color: #b7b7b7;
	}

	.posts .body-post {
		margin-top: 40px;
	}

	.posts .main-post {
		overflow: hidden;
	}

	.posts .entry-post p,
	.entry-page p {
		margin-bottom: 27px;
		font-size: 18px;
		line-height: 27px;
	}

	.posts .entry-post ul.list li,
	.entry-page ul.list li {
		position: relative;
		font-size: 18px;
		line-height: 48px;
		padding-left: 25px;
	}

	.entry-page ul.list li:before {
		content: "";
		position: absolute;
		left: 0;
		top: 23px;
		margin-top: -1px;
		width: 5px;
		height: 5px;
		background-color: #181818;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}

	.posts .entry-post img {
		margin: 18px 0 44px;
	}

	.posts .entry-post h1,
	.posts .entry-post h2,
	.posts .entry-post h3,
	.entry-page h1,
	.entry-page h2,
	.entry-page h3,
	.entry-page h4,
	.entry-page h5,
	.entry-page h6 {
		font-weight: 700;
	}

	.posts .tags h4 {
		font-size: 16px;
		color: #b7b7b7;
		margin: 0 0 30px;
	}

	.posts .tags a {
		display: inline-block;
		padding: 7px 25px;
		border: 1px solid #e5e5e5;
		color: #b7b7b7;
		margin-right: 6px;
		line-height: 31px;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
			 -o-border-radius: 2px;
				border-radius: 2px;
	}

	.posts .tags a:hover {
		border-color: #cacaca;
		color: #959595;
		text-decoration: none;
	}

	.posts .load-comment {
		clear: left;
		margin: 30px 0 0;
	}

	.posts .load-comment a {
		position: relative;
		display: inline-block;
		position: relative;
		color: #fff;
		padding: 0 25px 0 50px;
		line-height: 47px;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
			 -o-border-radius: 4px;
				border-radius: 4px;
	   -webkit-transition: all 0.3s ease-in-out;
	      -moz-transition: all 0.3s ease-in-out;
	       -ms-transition: all 0.3s ease-in-out;
	        -o-transition: all 0.3s ease-in-out;
	           transition: all 0.3s ease-in-out;
	}

	.posts .load-comment a:before {
		position: absolute;
		left: 22px;
		top: 1px;
		content: "\f075";
		font-family: "FontAwesome";
		font-size: 16px;
	}

	.posts .load-comment a:hover {
		text-decoration: none;
	}

	.posts .loadding {
		width: 100%;
		text-align: center;
		padding: 10px 0 50px;
	}

	.posts .loadding .infinite {
		display: inline-block;
		width: 60px;
		height: 60px;
		background: url(/images/loading.png);
	}

/* Article Detail
-------------------------------------------------------------- */
	.post-wrap.post-single {
		max-width: 832px;
		margin-top: 15px;
	}

	.post-single .share-post {
		float: left;
		width: 140px;
		margin: 8px 40px 0 0;
	}

	.post-single .share-post ul {
		border: 1px solid #e1e1e1;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
	}

	.post-single .share-post ul li {
		line-height: 40px;
		border-top: 1px solid #e1e1e1;
		padding-left: 43px;
	}

	.post-single .share-post ul li a {
		position: relative;
	}

	.post-single .share-post ul li a:before {
		position: absolute;
		left: -28px;
		top: -10px;
		font-family: "FontAwesome";
		font-size: 16px;
		color: #d7d7d7;
	    -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}


	.post-single .share-post ul li.email a:before {
		content: "\f0e0";
	}

	.post-single .share-post ul li.facebook a:before {
		content: "\f09a";
	}

	.post-single .share-post ul li.twitter a:before {
		content: "\f099";
	}

	.post-single .share-post ul li.more a:before {
		content: "\f064";
	}

	.post-single .share-post ul li a:hover,
	.post-single .share-post ul li a:hover:before {
		color: #1fc1f1;
		text-decoration: none;
	}

	.post-single .share-post ul li:first-child {
		border-top: none;
	}

	.post-single .share-post ul li.count-share {
		text-align: center;
		font-size: 18px;
		padding: 29px 0 8px;
	}

	.post-single .share-post ul li.count-share .numb {
		font-size: 48px;
		line-height: 36px;
		font-weight: 700;
	}

	.post-single .share-post ul li a {
		font-size: 14px;
		color: #a1a1a1;
	}

	.post-single .share-post ul span {
		display: block;
	}

	.post-single .helpful {
		margin-top: 35px;
		line-height: 35px;
	}

	.post-single .helpful a {
		display: inline-block;
		position: relative;
		font-size: 14px;
		line-height: 35px;
		padding: 0 20px 0 49px;
		margin: 0 10px 10px 0;
		-webkit-border-radius: 2px;
		   -moz-border-radius: 2px;
			 -o-border-radius: 2px;
				border-radius: 2px;
	}

	.post-single .helpful a:before {
		position: absolute;
		left: 25px;
		top: 0;
		font-family: "FontAwesome";
		font-size: 16px;
		color: #fff;
	    -webkit-transition: all 0.3s ease-in-out;
	       -moz-transition: all 0.3s ease-in-out;
	        -ms-transition: all 0.3s ease-in-out;
	         -o-transition: all 0.3s ease-in-out;
	            transition: all 0.3s ease-in-out;
	}

	.post-single .helpful a.like:before {
		content: "\f087";
	}

	.post-single .helpful a.dislike:before {
		content: "\f088";
		color: #7d7d7d;
	}

	.post-single .helpful a.like {
		color: #fff;
		background-color: #1ca458;
	}

	.post-single .helpful a.dislike {
		color: #7d7d7d;
		background-color: #ebebeb;
	}

	.post-single .tags {
		margin-top: 40px;
	}

	.post-single .author-post {
		background-color: #f6f6f5;
		overflow: hidden;
		margin: 47px 0 45px;
	}

	.post-single .avatar-author {
		float: left;
		width: 150px;
	}

	.post-single .info-author {
		padding: 34px 32px;
		overflow: hidden;
	}

	.post-single .info-author h4 {
		font-size: 18px;
		font-weight: 700;
		line-height: 26px;
		margin: 0;
	}

	.post-single .comment-post .title {
		font-size: 24px;
		line-height: 30px;
		font-weight: 300;
		margin: 0 0 17px;
		color: #292c33;
	}

	.comments-list {
		margin-bottom: 50px;
	}

	.comments-list .comment {
		position: relative;
		color: #343434;
		border: 1px solid #ececec;
		padding: 25px 25px 35px;
		margin-bottom: 20px;
	}

	.comments-list .comment .comment-order {
		position: absolute;
		right: 17px;
		top: 27px;
		font-size: 48px;
		color: #f0f0f0;
	}

	.comments-list .comment .avatar {
		float: left;
		margin-right: 20px;
		width: 50px;
		height: 50px;
	}

	.comments-list .comment .avatar img {
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
			 -o-border-radius: 50%;
				border-radius: 50%;
	}

	.comments-list .comment-text {
		overflow: hidden;
	}

	.comments-list .comment-head {
		margin: 9px 0 17px;
	}

	.comments-list .comment-head,
	.comments-list .comment-head a {
		color: #acacac;
	}

	.comments-list .comment-head a:hover {
		text-decoration: none;
	}

	.comments-list .comment-head span {
		margin-right: 12px;
	}

	.comments-list .comment-head .author {
		color: #343434;
		font-weight: 700;
	}

	.comments-list .comment-body {
		line-height: 24px;
	}

	.comment-form {
		overflow: hidden;
	}

	.comment-respond {
		margin-bottom: 74px;
	}

	.comment-respond .name-comment input,
	.comment-respond .email-comment input {
		width: 368px;
		margin-bottom: 10px;
	}

	.comment-respond .name-comment input {
		margin-top: 3px;
	}

	.comment-respond .email-comment span {
		font-size: 14px;
		font-style: italic;
		color: #b0b0b0;
		margin-left: 18px;
	}

	.comment-respond .submit-comment {
		padding-bottom: 1px;
		margin-top: 20px;
	}

	.comment-respond .submit-comment .send-btn {
		padding: 0 57px;
	}

	.relate-posts,
	.recommend-posts {
		border-top: 4px solid #ebebeb;
	}

	.recommend-posts {
		padding-bottom: 0;
		margin-top: 10px;
	}

	.recommend-posts .post {
		margin-bottom: 0;
	}


/* GoTop
-------------------------------------------------------------- */
	.go-top {
		position: fixed !important;
		right: -35px;
		bottom: 15px;
		color: #181818; 
		background-color: #fff;
		display: block;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		width: 35px;
		height: 35px;
		visibility: hidden;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		z-index: 9999;
		cursor: pointer;
		-webkit-border-radius: 50%;
		   -moz-border-radius: 50%;
			 -o-border-radius: 50%;
				border-radius: 50%;
		-webkit-transition: all 0.3s ease-in-out;
		  -moz-transition: all 0.3s ease-in-out;
		   -ms-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		       transition: all 0.3s ease-in-out;
	}

	.go-top.show {
		right: 15px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: visible;
	}

/* Switcher
-------------------------------------------------------------- */
	.switcher-container {
		width: 270px;
		position: fixed;
		right: -225px;
		top: 205px;
		z-index: 9999;
	}

	.switcher-container .selector-box {
		position: relative;
		background: #fff;
		border: 1px solid #e6e8e9;
		box-shadow: 0 0 4px rgba(194, 194, 194, 0.4);
		padding-left: 40px;
		-webkit-border-radius: 23px 0 0 23px;
		   -moz-border-radius: 23px 0 0 23px;
			 -o-border-radius: 23px 0 0 23px;
				border-radius: 23px 0 0 23px;
	}

	.switcher-container span {
	    left: 0px;
	    line-height: 45px;
	    margin: 0;
	    position: absolute;
	    top: 0px;
	    text-align: center;
	}

	.switcher-container span a {
	    display: inline-block;
	    font-size: 22px;
	    height: 45px;
	    width: 45px;
	}

	.switcher-container span a:hover {
		color: #181818;
	}

	.switcher-container .layout-switcher {
		margin: 0 0 10px 0;
		overflow: hidden;
	}

	.switcher-container .color-box {
		height: auto;
		overflow: hidden;
	}

	.switcher-container .styleswitch {
	    cursor: pointer;
	    display: block;
	    float: left;
	    height: 35px;
	    margin: 5px 5px 5px 5px;
	    width: 35px;
	}

	.switcher-container .styleswitch#color1 { background-color: #e8280b; }
	.switcher-container .styleswitch#color2 { background-color: #008ed9; }
	.switcher-container .styleswitch#color3 { background-color: #6aa51d; }
	.switcher-container .styleswitch#color4 { background-color: #ff6b24; }
	.switcher-container .styleswitch#color5 { background-color: #00caeb; }

/* Media Queries
-------------------------------------------------------------- */
	@media only screen and (min-width: 1930px) {

	}

	/* Smaller than standard 1200 */
	@media only screen and (max-width: 1199px) {
		.header-wrap #searchform,
		.header-wrap #searchform #s {
			width: 220px;
		}

		.tabs.style2 .menu-tab li a {
			padding: 11px 10px;
		}

		.about-page-wrap {
			padding: 22px 0 0;
		}

		.contact-page .content-left {
		    padding-right: 50px;
		}
	}

	/* Smaller than standard 992 */
	@media only screen and (max-width: 991px) {
		.header-wrap .col-md-9,
		.header-wrap .col-md-3 {
			float: auto;
		}

		#mainnav > ul > li {
			padding: 0 18px;
		}

		#mainnav > ul > li > a {
			font-size: 20px;
		}	

		#mainnav > ul > li.has-children > a:after {
			font-size: 13px;
			top: 1px;
		}

		.header-wrap .col-md-9,
		.header-wrap .col-md-3 {
			float: auto;
		}

		.search-wrap {
			position: relative;
		}

		.search-wrap .search-icon {
			position: absolute;
			right: 0;
			top: 26px;
			width: 30px;
			height: 32px;
			cursor: pointer;
		    -webkit-transition: opacity 0.3s ease-in-out;
		       -moz-transition: opacity 0.3s ease-in-out;
		        -ms-transition: opacity 0.3s ease-in-out;
		         -o-transition: opacity 0.3s ease-in-out;
		            transition: opacity 0.3s ease-in-out;
		}

		.search-wrap .search-icon:hover {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			filter: alpha(opacity=70);
			opacity: 0.7;
		}

		.search-wrap .search-icon:before {
			position: absolute;
			right: 0;
			top: 3px;
			content: "\f002";
			font-family: "FontAwesome";
			color: #989a9e;
			font-size: 18px;
		    -webkit-transition: opacity 0.3s ease-in-out;
		       -moz-transition: opacity 0.3s ease-in-out;
		        -ms-transition: opacity 0.3s ease-in-out;
		         -o-transition: opacity 0.3s ease-in-out;
		            transition: opacity 0.3s ease-in-out;
		}

		.header-wrap #searchform {
			float: none;
			position: absolute;
			right: 0;
			top: -1px;
			display: none;
			margin: 0;
		    -webkit-transition: all 0.2s ease-in-out;
		       -moz-transition: all 0.2s ease-in-out;
		        -ms-transition: all 0.2s ease-in-out;
		         -o-transition: all 0.2s ease-in-out;
		            transition: all 0.2s ease-in-out;
		}

		.header-wrap #searchform #searchsubmit {
			display: none;
		}

		.header-wrap #searchform,
		.header-wrap #searchform #s {
			width: 100% !important;
		}

		.header-wrap #searchform #s {
			position: absolute;
			right: 0;
			font-size: 20px;
			font-weight: 400;
			border: none;
			padding: 0;
			height: 88px;
			background-color: #fff;
			border-radius: 0;
		}

		.header-wrap #searchform #s:focus {
			border: none;
		}

		.header-wrap .search-close {
			display: block;
			position: absolute;
			right: 0;
			top: 30px;
			font-size: 24px;
			color: #989a9e;
		}

		.widget-ads .text-ad {
			text-align: left;
		}

		.gnSlider .slides li .item {
		    font-size: 18px;
		    font-weight: 300;
		    line-height: 24px;
		    max-width: 500px;
		    padding: 20px 23px;
		}

		.banner .banner-items .cat {
			margin-top: -3px;
		}

		.banner .banner-items h4 {
			margin-top: 3px;
			line-height: 24px;
		}

		.banner .banner-items h4 a {
			font-size: 16px;
		}

		.hide-navigation .hide-nav {
			width: 42.38%;
			float: left;
		}

		.hide-navigation .title-cat {
			width: 34.92%;
			float: left;
		}

		.hide-navigation .user-area {
			width: 22.69%;
			float: left;
		}	
		
		.hide-navigation .title-page {
			font-size: 24px;
		}
		
		.posts .tags a {
			margin-bottom: 10px;
		}

		.comment-respond .email-comment span {
			display: none;
		}

		.gnSlider .flex-control-nav {
			text-align: right;
		}

		.price-table {
			width: 210px;
		}

		.navigation-panel {
			width: 147px;
		} 

		.navigation-panel .sub-menu {
			left: 146px;
		}

		.contact-page .content-left {
		    padding: 0 0 30px 0;
		}
	}

	/* Tablet Landscape */
	 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	}

	/* Tablet Portrait Size */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes */
	@media only screen and (max-width: 767px) {
		#main {
		    margin: 30px 0 30px;
		}

		.btn-menu {
			display: block ;
		}

		#mainnav {
			display: none;
		}

		.top-wrap .member-area {
			display: none;
		}

		.top-wrap .follow-us {
			display: none;
		}

		.top-wrap .logo {
			margin-bottom: 5px;
		}

		.menu-addon {
			display: block;
		}

		#mainnav-mobi li.gn-mega-menu .mega-item-wrap .mega-item {
			float: left;
			width: 46% !important;
			margin: 0 2% 20px;
		}

		#mainnav-mobi li.gn-mega-menu .nav-mega-item {
			display: none;
		}

		#mainnav-mobi li.gn-mega-menu .mega-item-wrap .mega-item h5 {
			margin: 3px 0 0;
			line-height: 18px;
		}

		#mainnav-mobi li.gn-mega-menu .mega-item-wrap .mega-item h5 a {
			color: #fff;
			font-size: 14px;
		}

		.featured-posts .content-left,
		.featured-posts .content-right,
		.popular-posts .content-left,
		.popular-posts .content-right,
		.trending-posts .one-fourth {
			width: 100%;
			margin-right: 0;
			float: none;	
		}

		.featured-posts .content-left,
		.popular-posts .content-left,
		.trending-posts .one-fourth {
			margin-bottom: 35px;
		}

		.featured-posts .content-right {
			margin: 0 -2%;
		}

		.featured-posts .content-right .post {
			float: left;
			width: 46%;
			margin: 0 2% 10px;
		}

		.highlights-posts .post,
		.recommend-posts .post {
			width: 100%;
			float: none;
		}

		.recommend-posts .post {
			margin-bottom: 50px;
		}

		.social-media-posts .thumb {
			float: none;
			margin-bottom: 15px;
			width: 100%;
		}

		.post-single .share-post {
			display: none;
		}

		.banner {
			margin-top: 25px;
		}

		.banner .banner-text {
			padding: 0 30px;
		}

		.banner .banner-text h2 {
		    font-size: 30px;
		    font-weight: 700;
		    line-height: 36px;
		    margin-bottom: 6px;
		}

		.banner .banner-text h3 {
		    font-size: 17px;
		    line-height: 22px;
		    margin-bottom: 9px;
		}

		.banner .banner-items h4 {
			line-height: 26px;
		}
		.banner .banner-items h4 a {
			font-size: 20px;
		}

		.banner .banner-text p {
		    font-size: 13px;
		    margin-bottom: 12px;
		}

		.banner .banner-items {
		    padding: 25px 30px 12px;
		}

		.banner .banner-items .post {
			float: none;
			width: 100%;
			margin: 0 0 20px;
			clear: both;
			overflow: hidden;
		}

		.banner .banner-items .thumb {
			width: 70px;
		}

		.gnSlider .slides li .item {
			max-width: 100%;
		    font-size: 15px;
		    font-weight: 300;
		    line-height: 20px;
		    padding: 12px 18px;
		}

		.category-page .post-wrap .thumb {
			float: none;
			margin-bottom: 20px;
			width: 100%
		}

		.hide-navigation .top-wrap {
			padding: 8px 0 10px;
		}

		.hide-navigation .hide-nav {
			width: 100%;
		}

		.hide-navigation .title-cat,
		.hide-navigation .user-area {
			display: none;
		}

		.social-media-posts .content, .category-page .post-wrap .content {
			min-height: auto;
		}

		.section.login-page {
			padding: 25px 0 0;
		}

		.section-login {
			margin-bottom: 40px;
		}

		#login-modal, #login-modal.login, #signup-modal {
			width: 100%;
			padding: 30px 35px 35px;
		}

		#login-modal.login .form-title .signup,
		#signup-modal .form-title .signup {
			font-size: 13px;
		}

		.error-wrap #searchform {
			width: 100%;
		}

		.error-wrap .spacer:before {
			width: 100%;
		}

		.price-table-wrap,
		.price-table {
			width: 100%;
		}

		.price-table {
			float: none;
			margin: 0 0 30px;
		}

		.featured-posts .content-left h3,
		.posts h2 {
			margin: 0 0 10px;
		}

		.featured-posts .content-left h3 a,
		.posts h2 {
			font-size: 36px;
			line-height: 43px;
		}

		.featured-posts,
		.highlights-posts,
		.editors-posts,
		.trending-posts,
		.popular-posts,
		.relate-posts,
		.recommend-posts {
		    padding-bottom: 45px;
		}

		.posts .head-post {
			padding-bottom: 28px;
		}

		.posts .body-post {
		    margin-top: 28px;
		}

		.highlights-posts .post,
		.recommend-posts .post {
			margin-bottom: 40px;
		}

		.highlights-posts .margin-b0,
		.recommend-posts .margin-b0 {
			margin-bottom: 10px;
		}

		.trending-posts .one-fourth.last {
			margin-bottom: 10px;
		}

		.banner-image {
			height: 300px;
		}

		.banner-image img {
			height: 100%;
		}

		.banner .overlay {
			height: 125px;
		    background: url("/../../../../rollthemes.com/demo/html/goodnews/images/banner-overlay_s.html") no-repeat;
		    bottom: 0;
		}

		.about-page .content-left,
		.about-page .content-right {
			float: none;
			width: 100%;
		}

		.about-page .content-right {
			margin-bottom: 50px;
		}
	}

	/* Mobile Landscape Size */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size */
	@media only screen and (max-width: 479px) {
		h1, h2, h3, h4 {
    		margin: 40px 0 22px;
		}

		#main {
		    margin: 30px 0 10px;
		}

		.section-element.columns {
			margin-bottom: 30px;
		}

		.posts .entry-post p {
			margin-bottom: 22px;
		}

		.article-endless .posts.posts-list .post {
			padding-left: 20px;
		}
		.top-wrap .logo {
			max-width: 200px;
			height: auto;
		}

		.btn-menu {
			height: 84px;
			top: -25px;
		}

		.editors-posts .post .thumb,
		.relate-posts .post .thumb {
		    float: none;
		    margin-right: 0;
		    width: 100%;
		    margin-bottom: 10px;
		}

		.widget-recent .thumb {
			float: none;
			margin-bottom: 10px;
		}

		.tabs .menu-tab li a {
			padding: 8px 12px;
		}

		#login-modal, #login-modal.login, #signup-modal {
			padding: 20px 15px 35px;
		}

		.section-element .input-wrap {
			width: 100%;
		}

		.post-single .author-post {
			padding: 30px;
		}

		.post-single .info-author {
			padding: 15px 0 0;
		}

		.post-single .avatar-author {
			float: none;
		}

		.posts .entry-post img {
			margin: 5px 0 30px;
		}

		.posts .entry-post ul.list li, .entry-page ul.list li {
			line-height: 35px;
		}

		.entry-page ul.list li:before {
			top: 18px;
		}

		.about-page-wrap {
			padding: 0;
		}

		.contact-page .input-wrap {
			width: 100%;
			margin-right: 0;
		}

		.contact-page h2 {
			margin: 0 0 15px;
		}

		.contact-page .contact-info {
			margin-bottom: 20px;
		}
	}

	/* Mobile Portrait small size */
	@media only screen and (max-width: 320px) {
		#login-modal.login .form-title .signup,
		#signup-modal .form-title .signup {
			font-size: 11px;
		}

		input.css-checkbox[type="checkbox"] + label.css-label,
		#login-modal .option-login .remember,
		#login-modal .option-login .forgot a,
		#signup-modal .option-login .remember,
		#signup-modal .option-login .forgot a {
			font-size: 12px;
		}

		.banner-image {
			height: 230px;
		}
	}

	/* Retina Devices */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
		#mainnav-mobi #search-form-menu .search-text-menu {
		    background: url(/images/search-mobi%402x.png) no-repeat center center;
		    background-size: 27px 27px;
		}

		.btn-menu:before{
			background: url(/images/menu%402x.png) no-repeat center center;
			background-size: 39px 24px;
		}

		.toggle-panel {
			background: url(/images/toggle-panel%402x.png) no-repeat center center;
			background-size: 10px 50px;
		}

		.error-wrap #searchsubmit {
			background: url(/images/search%402x.png) no-repeat center center;
			background-size: 20px 20px;
		}

		.gn-button.pause {
		    background: url(/images/button-pause%402x.png) no-repeat center center;
		    background-size: 56px 12px;
		}

		label.css-label {
		    background: url(/images/checkbox%402x.png) no-repeat center center;
		    background-size: 18px 36px;
		}

		label.css-label2 {
		    background: url(/images/radio%402x.png) no-repeat center center;
		    background-size: 19px 38px;
		}

		.gn-gallery #gn-carousel:before {
			background: url(/images/gallery%402x.png) no-repeat center center;
			background-size: 87px 39px;
		}

		.pricing-table .heading-row .featured-price {
			background: url(/images/best-price%402x.png) no-repeat center center;
			background-size: 84px 73px;
		}
	}






















/* Main Color */
a,
a:hover,
a:active,
#mainnav ul.sub-menu > li > a:hover,
#mainnav > ul > li > ul > li.active > a,
#mainnav ul.sub-menu > li.has-children > a:hover:after,
#mainnav li.gn-mega-menu .mega-item-wrap .mega-item h5 a:hover,
#mainnav li.gn-mega-menu .nav-mega-item a:hover,
#mainnav-mobi .social-mobi a:hover,
.member-area .options li a:hover,
.activity span a:hover,
.activity span.comment a:hover:before,
.banner .banner-items h4 a:hover,
.sidebar-widget-1 .widget-title,
.widget-most-popular .order,
.most-popular .order,
.widget-categories li a:hover,
.comments-list .comment-head a:hover,
.go-top:hover,
.switcher-container span a,
.toggle .toggle-title.active:before,
.navigation-panel .close-nav:hover,
.navigation-panel .close-nav:hover,
.contact-page .contact-social li:hover i,
.about-page .about-links li a:hover {
	color: #e8280b;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#mainnav-mobi > ul > li.menu-addon span.signup-link a,
.top-wrap,
.toggle-panel,
.elements-box.red,
.tabs .tags a:hover,
.posts .load-comment a,
.gn-button,
.dropdown li:hover,
.error-wrap #searchsubmit,
.tabs.style2 .content-tab.scroll li:hover:before,
.about-page .about-twitter .follow-us,
.flex-control-nav li a.flex-active {
    background-color: #e8280b;
}

.floatPanel #sidebar2 {
	border-right: 14px solid #e8280b;
}

.gn-gallery #gn-carousel ul.slides li.flex-active-slide img {
	border: 2px solid #e8280b;
}

/* Darker Color */
#mainnav > ul > li > a:hover,
#mainnav > ul > li > a.active,
#mainnav > ul > li.has-children > a:hover:after,
#mainnav > ul > li.has-children > a.active:after,
#mainnav > ul > li.gn-mega-menu > a:hover:after,
.trending-posts .post h3 a:hover,
.widget-recent .content a:hover,
.tabs .comments p a:hover,
.tabs .pop-posts .text a:hover,
.footer-widgets .widget-social .email:hover,
.footer-widgets .widget-twitter li a:hover,
.footer-widgets .widget-list li a:hover,
.widget-most-popular li a:hover,
.most-popular li a:hover,
.tabs.style2 .content-tab.scroll li:hover:before {
	color: #ff0202;
}

/* Brighter Color */
.editors-posts .post-meta a,
.relate-posts .post-meta a,
.posts .meta .author a {
	color: #f5564c;
}

/* Hover-Button Color */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.error-wrap #searchsubmit:hover,
.posts .load-comment a:hover,
.gn-button:hover,
.gn-button:focus,
.gn-button:active,
.gn-button.hover,
.gn-button.press,
.gn-button.pause {
	background-color: #db260a;
}
