<div class="col-md-12">
  <div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
    
    <div class="content-left">

      <article class="post">
        <div class="thumb">
          <a href="#">
            <img src="/assets/images/thumbs/9.jpg" alt="img">
          </a>
        </div>
        <div class="cat">
          <a href="#">Mustread</a>
        </div>
        <h3>
          <a href="#">Australiërs kiezen massaal voor duurzame energie</a>
        </h3>
        <p class="excerpt-entry">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in justo ligula. Donec gravida est quis ipsum mollis maximus. Suspendisse rutrum placerat auctor. Nam sagittis a felis at eleifend. Fusce elementum consequat ex eget vehicula. Aliquam imperdiet et mi sit amet dignissim. Curabitur aliquam libero ipsum, non imperdiet magna hendrerit eu. Aliquam est neque, feugiat ultrices mauris vel, auctor efficitur nisi. Duis ultrices scelerisque euismod. Integer blandit arcu elit, consequat gravida lorem accumsan a. Duis consequat dui in nulla tristique condimentum eu sit amet dolor. Sed feugiat consequat nisi. Nam scelerisque mattis nisl, ac pellentesque ipsum iaculis eu. Aliquam in suscipit odio, quis tempor nulla. Donec ut tristique dolor. Vivamus mauris arcu, tempor ut dapibus ut, congue nec nisi.</p>
        <div class="post-meta">
          <span class="author">By
            <a href="#">Paul Graham</a>
          </span>
          <div class="activity">
            <span class="views">345</span>
            <span class="comment">
              <a href="#">15</a>
            </span>
          </div>
        </div>
      </article>
      


    </div>

    <div class="content-right">

      <article class="post">
        <div class="thumb">
          <a href="#">
            <img src="/assets/images/thumbs/4.jpg" alt="img">
          </a>
        </div>
        <div class="cat">
          <a href="#">Economie en ondernemen</a>
        </div>
        <h2>
            <a href="#">Meer werkgelegenheid in eurozone</a>
          </h2>
        <h3>
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac blandit purus, id feugiat nibh. Donec nec mauris magna. Nam ex erat, convallis porta lectus at, pulvinar sollicitudin ligula. </a>
        </h3>
        <div class="activity">
          <span class="views">12</span>
          <span class="comment">
            <a href="#">15</a>
          </span>
        </div>
      </article>

      <article class="post">
        <div class="thumb">
          <a href="#">
            <img src="/assets/images/thumbs/4-2.jpg" alt="img">
          </a>
        </div>
        <div class="cat">
          <a href="#">Natuur</a>
        </div>
        <h2>
            <a href="#">Delfzijl krijgt grootste zonne-energiepark van Nederland</a>
        </h2>
        <h3>
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac blandit purus, id feugiat nibh. Donec nec mauris magna. Nam ex erat, convallis porta lectus at, pulvinar sollicitudin ligula. </a>
        </h3>
        <div class="activity">
          <span class="views">12</span>
          <span class="comment">
            <a href="#">15</a>
          </span>
        </div>
      </article>

    </div>
  </div>
</div>